<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Mi App con Persistencia Redis</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 50px;
            background-color: #f4f4f4;
        }
        .contador {
            font-size: 30px;
            color: #555;
        }
    </style>
</head>
<body>
    <h1>👋 Bienvenido a mi App con Redis!</h1>
    <p class="contador">Has visitado esta página <strong>{{ visitas }}</strong> veces.</p>
</body>
</html>
